@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Identity Implementation</h1>
    <p class="lead">ASP.NET Identity Implementation is a sample application that explains how to implement ASP.NET Identity</p>
</div>
